<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Page Title</title>
    {{ 'banner-style-v2.css' | asset_url | stylesheet_tag }}
  </head>
  <body>
    <div class="bannerV2-contents">
      <h2> DeepMoo VR</h2>    
      <h1>{{ section.settings.text }}</h1>
      {% for block in section.blocks %}
        <p>{{ block.settings.text }}</p>
      {% endfor %}
      <button class="learnmore">Learn more</button>
    </div>
  </body>
</html>


{% schema %}
  {
    "name": "Custom Banner v2",
    "settings": [{
      "type": "text",
      "id":"text",
      "label":"Heading"
    }],
    "presets": [{
      "name": "Custom Banner"
    }],
    "tag":"section",
    "class": "custom-section",
    "limit": 1,
    "blocks":[{
      "name": "Description",
      "type":"text",
      "settings": [{"type": "text",
      "id":"text",
      "label":"Description"}]
    }]
  }
{% endschema %}