<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Page Title</title>
    {{ 'feature-banner-1.css' | asset_url | stylesheet_tag }}
  </head>
  <body>
    


{% schema %}
  {
    "name": "Feature Banner",
    "settings": [{
      "type": "text",
      "id":"text",
      "label":"Heading"
    }],
    "presets": [{
      "name": "Custom Banner 2"
    }],
    "tag":"section",
    "class": "custom-section",
    "limit": 1,
    "blocks":[{
      "name": "Description",
      "type":"text",
      "settings": [{"type": "text",
      "id":"text",
      "label":"Description"}]
    }]
  }
{% endschema %}