
.background-image img{
  width: 100vw;
  top: 0;
  left: 0;
}

body {
  margin: 0;
  padding: 0;
  background-image: url('{{ 'banner.png' | asset_url }}');
  background-size: cover; /* Ensures the image covers the entire background */
  background-position: center center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  overflow: hidden; /* Prevents scrollbars from appearing */
}