.feature-banner {
  width: 100%;
  height: 800px;
  background-image: radial-gradient(
    ellipse farthest-corner at 70% 40%, /* Adjust position as needed */
    #087FFF 0%,
    #fff 100%
  );
  background-size: 100% 100%; /* Ensure the gradient covers the entire element */
  background-repeat: no-repeat; /* Prevent the gradient from repeating */
  position: relative;
}
.feature-banner-actual-image {
  width: 100%;
  /* Ensures the image maintains aspect ratio */
  object-fit: cover;
}

.feature-banner h1,
.feature-banner h2,
.feature-banner p {
  color: #007AFF;
}

.feature-banner .text {
  position: relative;
  top: 100px;
  left: 20%;
  /* Ensure content text is properly positioned */
}

.banner1-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* This pushes the image to the bottom */
  height: 100%;
}

.feature-banner-image {
  /* Make sure image container spans the full width */
  width: 100%;
  /* Pushes the image to the bottom of the container */
  display: flex;
  justify-content: center;
  margin-top: auto;
}