.feature-banner{
  width: 100%;
  height: 800px;
  background-image: radial-gradient(#087FFF 30%, transparent 40%);
}

.feature-banner-actual-image{
  width: 100%;

}

.feature-banner h1 {
  color:#007AFF;
}
.feature-banner h2{
   color:#007AFF;
}
.feature-banner p{
   color:#007AFF;
}
.feature-banner .text{
  position: relative;
  top: 100px;
  left: 20%;
}