
h1, h2, p {
  color: white;
  margin: 0px;

}.banner {
    padding-top: 100px;
    background: linear-gradient(#9edeff, #007aff);
    height: 800px;
    width: 100%;
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
}

.content {
    display: flex;
    align-items: center;
    max-width: 1200px; /* Adjust max-width as needed */
    width: 100%;
}

.imagecombo {
    display: flex;
    flex-direction: row; /* Arrange image and text horizontally */
    align-items: center;
    justify-content: center; /* Center content horizontally */
    width: 100%;
}

.image {
    width: 40%; /* Adjust image width as needed */
    padding: 0 20px; /* Add padding for spacing */
    text-align: center; /* Center align image */
}
}
.image-shadow{
  width: 40%;
}

button{
  padding: 20px 40px;
  border-radius: 10vw;
  border: none;
  background-color: #B5FE7B;
  color: #007aff;
}
button :hover{
  background-color: white;
}
.learnmore:hover{
  background-color:white;
}
.learnmore{
  margin-top: 20px;
}