<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Page Title</title>
    {{ 'homepg-style-v2.css' | asset_url | stylesheet_tag }}
  </head>
  <body>
<div class='footer-container'>
 <h3>{{ section.settings.text }}</h3>
      {% for block in section.blocks %}
        <p>{{ block.settings.text }}</p>
        {% endfor %}
</div>
 </body>
</html>
.banner h1,
.banner h2,
.banner p{
  color: black;
  margin: 0px;

}
.banner{
  background: radial-gradient(#f3f6f8,#d0daea);
  height: 800px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 80px 250px;
  overflow: hidden;
}
.text{
  width: 35vw;
  max-width: 800px;
  text-align: left;
  margin-right: 50px;
}

.banner h1{
  font-size: 6.6vw;
}

.image img{
  width: 45vh;
  position: relative;
  left: 0%;
  margin: none;
  margin-top: 5%;
  margin-bottom: 10px;
}
.imagecombo{
  align-self: right;
  align-content: right;
  text-align:right;
  margin: 0;
  width: 45vw;
  max-width: 700px;
  border: 2px solid green;
}

.shadow{
  position: relative;
  z-index: 0;
  top: -30px;
}
.banner button{
  position: relative;
  left: 0%;
  margin: none;
  padding: 20px 40px;
  border-radius: 10vw;
  border: none;
  background-color: #5687fd;
  color: white;

}
.banner button:hover{
  background-color: white;
}
.banner .learnmore:hover{
  background-color:white;
}
.banner .learnmore{
  margin-top: 20px;
}

@media screen and (max-width: 1700px) {

.image img{
  width: 40vh;
}

.banner{
  padding-top: 75px;
  background: radial-gradient(#f3f6f8,#d0daea);
  height: 800px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 80px;
}

.imagecombo{
  align-content: right;
  text-align:right;
  padding-left: 35px;
}
}


@media screen and (max-width: 1000px) {
.image img{
  width: 80vw;
  margin: none;
  left: 0;
  border: 2 px solid;
  position: relative;
  left: -5%;
}
.banner{
  height: 850px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-top: 50px;
}
.image-shadow{
  left: 0;
}

.imagecombo{
  width: 100vw;
  padding: 0;
  display: block;
  align-content: center;
  text-align: center;
}
.content{
  border: 2 px solid green;
}
.text-container{
  display: flex;
  text-align: center;
  width: 100%;
  align-items: center;
  margin: none;

  justify-content: center;
 } 
.text{
  width: 80%;
  text-align: center;
  max-width: 800px;
  align-items: center;
  margin: none;
  left: 0;
}

.text h1{
font-size: 10vw;
}
}
@medie screen and (max-width: 800px) {

.banner{
  height: 700px;
}
  
}
@media screen and (max-width: 500px) {
.banner{
  height: 700px;
}
.text-container{
  width: 120%;
}

.text{
  width: 80%;
}

.text h1{
  margin-bottom: 10px;
  font-weight: 500;
}
}