
.banner h1,
.banner h2,
.banner p{
  color: black;
  margin: 0px;

}
.banner{
  padding-top: 75px;
  background: linear-gradient(#9edeff,#007aff);
  height: 800px;
  width: 100%;
}


.banner{
  display: flex;
  align-items: center;
  padding: 80px;
}
.text{
  width: 35vw;
  text-align: right;
  max-width: 600px;
}

.banner h1{
  font-size: 80px;
}

.image img{
  width: 50vw;
  position: relative;
  left: 10%;
}
.imagecombo{
  display: block;
  align-content: right;
  text-align:right;
  padding-right: 35px;
}
.image-shadow{
  width: 50vw;
}

.banner button{
  padding: 20px 40px;
  border-radius: 10vw;
  border: none;
  background-color: #B5FE7B;
  color: #007aff;
}
.banner button:hover{
  background-color: white;
}
.banner .learnmore:hover{
  background-color:white;
}
.banner .learnmore{
  margin-top: 20px;
}