*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

:root {
    font-family: 'Inter', 'SF Pro Display', -apple-system, BlinkMacSystemFont; 
    scroll-behavior: smooth;
}

.hero {
    min-height: 100vh;
    height: minmax(100vh, fit-content); 
}

.x3-display {
    background-image: url("../assets/jg-platform-og.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.title .title-name {
    font-family: inherit;
    text-align: center;
    font-size: 5.2rem;
    padding-top: 3.6rem;
    background-image: linear-gradient(180deg, lightyellow, 65%, #c63f3f);
    background-size: 100%;
    background-repeat: repeat;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.frame-div {
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 7rem;
}

.frame {
    display:block;
    width:80%;
    height: 80vh;   
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.title .title-key {
    text-align: center;
    color: white;
    font-size: 5.2rem;
    padding-top: 15rem;
    background-image: linear-gradient(180deg, lightyellow, 65%, #c63f3f);
    background-size: 100%;
    background-repeat: repeat;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.specs .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img-parts, .img-specs {
    width: 70vw;
    object-fit: contain;
    object-position: center;
}

.img-parts {
    padding-top: 3.2rem;
}

.specs {
    background-color: black;
}

.img-specs {
    padding-top: 6rem;
    padding-bottom: 7rem;
}

    .effect {
        -webkit-animation: fadein 2.2s; /* Safari, Chrome and Opera > 12.1 */
           -moz-animation: fadein 2.2s; /* Firefox < 16 */
            -ms-animation: fadein 2.2s; /* Internet Explorer */
             -o-animation: fadein 2.2s; /* Opera < 12.1 */
                animation: fadein 2.2s;
    }
   
    @keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

    .tag {
        opacity: 0;
        transform: translate(0, 10vh);
        transition: all 1.2s;
      }

      .visible {
        opacity: 1;
        transform: translate(0, 0);
      }
      
.title .title-action {
    text-align: left;
    padding-left: 12rem;
    font-size: 4.8rem;
    padding-top: 16rem;
    background-image: linear-gradient(180deg, lightyellow, 65%, #c63f3f);
    background-size: 100%;
    background-repeat: repeat;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.chip {
    padding-top: 20rem;
    background-color: black;
    background-image: url("../assets/jg-4.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 60%;
}

.chip-desc {
    align-self: center;
    margin-top: 11.5rem;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 800px;
}

.flex-item {
    flex-grow: 1;
}

.title-chip {
    text-align: left;
    font-size: 4.6rem;
    background-image: linear-gradient(180deg, lightyellow, 40%, #c63f3f);
    background-size: 100%;
    background-repeat: repeat;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.chip-desc-text{
    margin-top: 2.5rem;
    line-height: 1.5;
    font-size: 1.5rem;
    color: #a6a6ac;
}