<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Page Title</title>
    {{ 'homepg-style-v2.css' | asset_url | stylesheet_tag }}
  </head>
  <body>
    
    <div class="banner">
  <div class="content">
    <div class="image">
      <img src="{{ 'X3pro.png' | asset_url }}" alt="Banner Image">
    </div>
    <div class="text">
      <h1>banner</h1>
    </div>
  </div>
</div>
    
  </body>
</html>
