<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, mininum-scale=1.0"
    >
    <link rel="stylesheet" href="{{ 'x3proto.css' | asset_url  }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js" async></script>
    <script src="{{ 'x3proto.js' | asset_url  }}" defer></script>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:wght@100..900&display=swap');
    </style>
    <title>X3 Proto</title>
  </head>
  <body>
    <section class="hero x3-display">
      <div class="container">
        <div class="title effect">
          <h1 class="title-name">SPACCOM X3 Pro</h1>
        </div>
      </div>
    </section>
    <section class="hero 3d-model">
      <div class="container">
        <div class="title tag">
          <h1 class="title-action">See it in action.</h1>
        </div>
        <div class="frame-div">
          <iframe
            src="https://show.3dnest.cn/work/?work_id=1KeulwdXjcn"
            class="frame"
            loading="lazy"
            frameborder="0"
          ></iframe>
        </div>
      </div>
    </section>
    <section class="hero specs">
      <div class="container">
        <div class="title tag">
          <h1 class="title-key">Get to know the X3 Pro.</h1>
        </div>
        <div class="img tag">
          <img src="../assets/add-202406.png" class="img-parts">
        </div>
        <div class="img tag">
          <img src="../assets/jg-2.png" class="img-specs">
        </div>
      </div>
    </section>
    <section class="hero chip">
      <div class="container">
        <div class="title">
          <div class="chip-desc">
            <div class="flex-item">
              <h1 class="title-chip tag">State of the art performance.</h1>
            </div>
            <div class="chip-desc-text tag flex-item">
              <p>develops and analyzes 134 million pixels</p>
              <p>16K panoramic images</p>
              <p>Exquisite scene reproduction</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
