<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Page Title</title>
    {{ 'homepg-style-v2.css' | asset_url | stylesheet_tag }}
  </head>
  <body>
    
    <div class="banner">
  <div class="content">
    <div class="image">
      <img src="{{ 'X3pro.png' | asset_url }}" alt="Banner Image">
    </div>
    <div class="image shadow">
      <img src="{{ 'shadow.png' | asset_url }}" alt="Shadow">
    </div>
    <div class="text">
      <h3>Deep Moo Vr</h3>
      <h1>SPACCOM X3 Pro</h1>
      <p>Equipped with high-precision lidar and a CMOS color lens, the X3 Pro can instantly generate cloud psatial data files and high-quality 3D models</p>
    <button>Learn more</button>
    </div>
  </div>
     
</div>
    
  </body>
</html>
