<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, mininum-scale=1.0">
    <link rel="stylesheet" href="../assets/x3infopage.css">
    <title>X3 Pro Info HTML</title>
</head>
<body>
    <section class="hero x3-pro-display">
        <div class="container">
            <div class="title">
                <h2 class="title-heading">SPACCOM X3 Pro</h2>
                <h3 class="title-subheading">Fast, Precise, Clear</h3>
            </div>
            <div class="cta">
                <p class="cta-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, ratione? Tempora quod ullam odio aliquam accusantium sit, consequuntur facilis cum nobis repellendus ex quasi ad. Sequi rerum quae iste est!</p>
                <a href="{{}}" class="cta-link">Buy Now</a>
            </div>
        </div>
            <div class="img">
                <img src="../assets/jg-platform.png" alt="" srcset="">
            </div>
    </section>
    <!-- <section class="hero x3-pro-display">
        <div class="container">
            <div class="title">
                <h2 class="title-heading">SPACCOM X3 Pro</h2>
                <h3 class="title-subheading">Fast, Precise, Clear</h3>
            </div>
            <div class="img">
                <img src="../assets/jg-1-removebg-preview.png" alt="" srcset="">
            </div>
            <div class="cta">
                <p class="cta-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, ratione? Tempora quod ullam odio aliquam accusantium sit, consequuntur facilis cum nobis repellendus ex quasi ad. Sequi rerum quae iste est!</p>
                <a href="{{}}" class="cta-link">Buy Now</a>
            </div>
        </div>
    </section> -->
    <section class="hero x3-pro-models">
        <div class="container">
            <div class="title">
                <h2 class="title-heading">See It In Action</h2>
            </div>
            <div class="home-2content ">
                <div class="home-2pannel active">
                    <iframe src="https://show.3dnest.cn/work/?work_id=1KeulwdXjcn" frameborder="0"></iframe>
                </div>
            </div>
        </div>
    </section>
    <section class="hero x3-pro-parts">
        <div class="container">
            <div class="title">
                <h2 class="title-heading">Key Features</h2>
            </div>
            <div class="img">
                <img class="img-parts" src="../assets/add-202406-1.png" alt="">
            </div>
            <div class="img">
                <img src="../assets/jg-2.png" alt="" class="img-specs">
            </div>
        </div>
    </section>
    <section class="hero x3-pro-chip">
        <div class="container">
            <div class="img"><img src="../assets/jg-4.png" alt=""></div>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi porro similique doloremque molestias cupiditate. Ducimus necessitatibus blanditiis doloribus autem omnis corporis voluptatum deleniti! Sint, tempore debitis exercitationem magni impedit repudiandae!</p>
        </div>
    </section>
    <section class="hero x3-pro-hd">
        <div class="container">
            <div class="img"><img src="../assets/jg-5.png" alt=""></div>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo ex consequatur ducimus saepe facere ratione harum iste, libero earum aliquid illo ipsam aspernatur incidunt esse recusandae illum nesciunt fugiat distinctio.</p>
        </div>
    </section>
    <section class="hero x3-pro-speed">
        <div class="container">
            <div class="img"><img src="../assets/jg-3.png" alt=""></div>
        </div>
    </section>
    <section class="hero x3-pro-battery">
        <div class="container">
            <div class="img"><img src="../assets/jg-5.jpg" alt=""></div>
        </div>
    </section>
    <section class="hero x3-pro-specs">
        <div class="container">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, consectetur ducimus et porro nostrum veniam architecto totam quod minus ex cumque rerum eaque. Perspiciatis nulla praesentium porro aliquid consectetur corrupti.
            <div class="cta"><a href="{{}}" class="cta-link">Buy Now</a></div>
        </div>
    </section>
</body>
</html>